<%= render "admin/header", title: "Products", link_info: { path: new_product_path, title: "New Product"} %>

<div class="p-12">
  <% if @products.present? %>
    <div class="border border-black rounded-md">
      <% @products.each do |product| %>
        <%= link_to product.name, edit_product_path(product), class: "px-5 py-6 block" %>
      <% end %>
    </div>
  <% else %>
    <p class="text-lg w-full mt-24 text-center px-5">You don't have any products</p>
  <% end %>
</div>